body {
    margin: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 175%;
}

button {
    background-color: aliceblue;
    color: rgb(131, 117, 117);
    border-radius: 25px;
    font-size: 20px;
}

#grad1 {
    height: 400px;
    background-color: rgba(100, 148, 237, 0.219);
    background-image: linear-gradient(to right, cornflowerblue,)
}

#grad2 {
    height: 400px;
    background-color: rgba(237, 100, 230, 0.295);
    background-image: linear-gradient(to right, rgba(153, 74, 129, 0.808),)
}

#ChangedWords {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
}